<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/home.css">

    <title>RUNKC</title>
  </head>
  <body>
    <header>
  <!-- Fixed navbar -->
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>
          <a href="/auth/login" class="navbar-brand d-flex align-items-center">
            <strong>Log In</strong>
          </a>
          <a href="/auth/signup" class="navbar-brand d-flex align-items-center">
            <strong>Sign Up</strong>
          </a>
          <a href="/RUNKC/practice" class="navbar-brand d-flex align-items-center">
            <strong>Practices</strong>
          </a>
          <a href="/RUNKC/tips" class="navbar-brand d-flex align-items-center">
            <strong>Tips</strong>
          </a>
          <a href="/RUNKC/yardsale" class="navbar-brand d-flex align-items-center">
            <strong>For Sale</strong>
          </a>
        </div>
      </div>
    </header>

<main role="main">

  <section class = "KC">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>RUNKC</h1>
        <p class="lead text-muted">RUNKC is Kansas City's top running club. Fast or slow, as long as you are on the go you will be a great fit! Stop by at one of our practices or check out some of the tips we post online.</p>
        <div>
          <a href="/auth/signup" class="btn btn-primary my-2">Join The Club</a>
        </div>
      </div>
    </section>
  </section>

  <div class="album py-5 bg-light">
    <div class="container-center">
          <div class="row text-center">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h1>Upcoming Practice</h1>
                <img src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/group-of-young-women-running-in-city-setting-royalty-free-image-1594815627.jpg?crop=1.00xw:0.752xh;0,0.202xh&resize=1200:*'class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"/>
                <div class="card-body">
                  <p class="card-text"><%=event.name%></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick= "/RUNKC/practice" type="button" class="btn btn-md btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h1>Tip of the Week</h1>
                <img src='<%=tip.img%>' class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"/>                <div class="card-body">
                  <p class="card-text"><%=tip.tip%></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-md btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h1>New Item For Sale!</h1>
                <img src='<%=sale.img%>' class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"/>                <div class="card-body">
                  <div class="card-body">
                  <p class="card-text"><%=sale.item%></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-md btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </ul>
    </div>
  </div>
</main>

