<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/practice.css">

    <title>RUNKC</title>
  </head>
  <body>
        <header>
  <!-- Fixed navbar -->
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>
          <a href="/RUNKC/practice" class="navbar-brand d-flex align-items-center">
            <strong>Practices</strong>
          </a>
          <a href="/RUNKC/tips" class="navbar-brand d-flex align-items-center">
            <strong>Tips</strong>
          </a>
          <a href="/RUNKC/yardsale" class="navbar-brand d-flex align-items-center">
            <strong>For Sale</strong>
          </a>
          <a href="/auth/login" class="navbar-brand d-flex align-items-center">
            <strong>Log In</strong>
          </a>
          <a href="/auth/signup" class="navbar-brand d-flex align-items-center">
            <strong>Sign Up</strong>
          </a>
        </div>
      </div>
    </header>
    <body class="text-center">
    <div class="starter-template">
        <h1><%= event.name %></h1>
        <ul class="details">
            <li >Date: <%= event.date %> </li>
            <li >Location: <%= event.location %> </li>
            <li >Details: <%= event.workout %> </li>
            <li >People Planning to go: <%= event.runners %> </li>
            <li >Runners Rating: <%= event.rating %> </li>
        </ul>
            <form class="form-signin" action = "/RUNKC/practiceView/<%=event.id%>?_method=PUT" method="POST">
              <!-- Are you planning on attending?
                Yes:
                  <input type="checkbox" name="runners" value="<%=event.runners%>"
                    <% if(event.runners === true){ %>
                      checked
                    <% } %>
                  /> -->
                <!-- No: 
                  <input type="checkbox" name="runners"
                    <% if(event.runners === 'null'){ %>
                    <% } %>
                  /> -->
              <br>
              How many in your group are attending: 
                <input type="text" name="rating" value="<%=event.rating%>"/>
                <!-- <input type="text" name="rating" value="<%=event.rating%>"/> -->
              <br/>
              <br>
              <input type="submit" name="" value="Submit Changes"/>
            </form>
          <br>
        <a href="/RUNKC/practice">
          <button class="btn btn-lg btn-primary" type="submit">Return to Practices</button>
        </a>
    </div>
</body> 