<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/practice.css">

    <title>RUNKC</title>
  </head>
  <body>
        <header>
  <!-- Fixed navbar -->
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>
          <a href="/RUNKC/practice" class="navbar-brand d-flex align-items-center">
            <strong>Practices</strong>
          </a>
          <a href="/RUNKC/tips" class="navbar-brand d-flex align-items-center">
            <strong>Tips</strong>
          </a>
          <a href="/RUNKC/yardsale" class="navbar-brand d-flex align-items-center">
            <strong>For Sale</strong>
          </a>
          <a href="/auth/login" class="navbar-brand d-flex align-items-center">
            <strong>Log In</strong>
          </a>
          <a href="/auth/signup" class="navbar-brand d-flex align-items-center">
            <strong>Sign Up</strong>
          </a>
        </div>
      </div>
    </header>
    <body class="text-center">
        <form action = '/auth/login' method="POST" class="form-signin">
        <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" name="password"id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
        </form>
    </body>
    <div class="starter-template">
        <h1><%= event.name %></h1>
        <ul class="details">
            <li >Date: <%= event.date %> </li>
            <li >Location: <%= event.location %> </li>
            <li >Details: <%= event.workout %> </li>
            <li >People Planning to go: <%= event.workout %> </li>
            <li >Runners Rating: <%= event.workout %> </li>
        </ul>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
</body>