<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/practice.css">

    <title>RUNKC</title>
  </head>
  <body>
    <header>
  <!-- Fixed navbar -->
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>
          <a href="/auth/login" class="navbar-brand d-flex align-items-center">
            <strong>Log In</strong>
          </a>
          <a href="/auth/signup" class="navbar-brand d-flex align-items-center">
            <strong>Sign Up</strong>
          </a>
          <a href="/RUNKC/practice" class="navbar-brand d-flex align-items-center">
            <strong>Practices</strong>
          </a>
          <a href="/RUNKC/tips" class="navbar-brand d-flex align-items-center">
            <strong>Tips</strong>
          </a>
          <a href="/RUNKC/yardsale" class="navbar-brand d-flex align-items-center">
            <strong>For Sale</strong>
          </a>
        </div>
      </div>
    </header>

<main role="main">

  <section class = "KC">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>PRACTICE</h1>
        <p class="lead text-muted">Be a part of the running community and join us for community events. Weather it is practice or a race, it is always great to be out with a fun group of runners!</p>
      </div>
      <div>
        <a href="/RUNKC/practice2" class="btn btn-primary my-2">Create An Event</a>
      </div>
    </section>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% for(let i=0; i<event.length; i++) { %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em"><%=event[i].date %></text></svg>
              <div class="card-body">
                <p class="card-text"><a href="/RUNKC/practiceView/<%=event[i].id%>"><%=event[i].name%></a></p>
                <div class="d-flex justify-content-between align-items-center">
                  <!-- <div class="btn-group">
                   Runners Attending: <%=event[i].runners %>
                   <br>
                   Event Rating: <%=event[i].rating %>
                  </div> -->
                </div>
              </br>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</main>

  </body>
</html>